*~
.*~
tags
tags-te
*.swp
vim/plugged/**
vim/bundle/*
!vim/bundle/Vundle.vim
vim/dein/temp/**
vim/dein/merged
vim/dein/repos/**
vim/dein/rollbacks/**
vim/dein/.dein/*
!vim/dein/.dein/autoload
vim/dein/.dein/autoload/*
!vim/dein/.dein/autoload/dein.vim
vim/src/*
vim/*netrwhist*
vim/tmp
workbench.xmi
*.local
